<div class="container bridge-container justify-content-between d-flex flex-column" style="height: 100%" [ngClass]="{'show': !username}">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <h1>{{ 'PAGES.BRIDGER.WELCOME' | translate }}</h1>
        </div>
        <div class="col-lg-6">
            <p [innerHTML]="'PAGES.BRIDGER.DESCRIPTION' | translate">
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <img src="/assets/images/hue-logo.svg" class="hue-hub">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="start-container position-relative">
                <div class="full-width" [ngClass]="{'show': loading === true}">
                    <div class="middle">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                        <div class="bar bar4"></div>
                        <div class="bar bar5"></div>
                    </div>
                </div>
                <div class="full-width" [ngClass]="{'show': !loading && waitingButton === true}">
                    <p>
                        <b>We found your hub ! Now run to push the Big button !</b>
                    </p>
                </div>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="startSearching()" [ngClass]="{'show': !loading && waitingButton === false}">{{ 'PAGES.BRIDGER.START' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<div class="container bridge-container justify-content-center align-items-center d-flex flex-column" style="height: 100%" [ngClass]="{'show': !!username}">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center" style="max-width: initial !important; margin-bottom: 20px;">
            <div *ngIf="!!username" class="svg-container">
                <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
                    <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
                    <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <h2>SUCCESSFULLY SYNC !</h2>
        </div>
    </div>
</div>
